<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <title>Survey Form</title>
</head>
<body style="padding: 50px;">
    <div class="text-center">
        <p class="display-4">Number of Button Clicks</p>
        <p class="display-1" id="clicks"></p>
    </div>
    <div class="text-center">
        <p class="lead mt-5">Push the button to update the count</p>
        <button id="epic" class="btn btn-success btn-lg d-block mx-auto mb-5">Epic Button</button>
        <p class="lead mt-5">Push the button to reset the count</p>
        <button id="reset" class="btn btn-outline-danger btn-lg d-block mx-auto">Reset Clicks</button>
    </div>

</div>
<script src="app.js"></script>
</body>
</html>